body{
    background-color: rgb(246,247,248);
    font-family: 'Inter';
    margin: 0;
}
form{
    z-index: 1;
}
.cursor{
    cursor: pointer;
}

.d-none{
    display: none;
}

.index-top-section{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 5vh;
    margin-right: 50px;
    padding-bottom: 2vh;
    font-size: 22px;
}

.sign-up-button{
    background-color: rgb(42,55,71);
    text-decoration: none;
    color: white;
    height: 49px;
    width: 80px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.sign-up-link{
    text-decoration: none;
    color: white;
}

.sign-up-button:hover{
    background-color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.index-main-section{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.log-in-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 45vh;
    width: 40vw;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.log-in-box-headline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline{
    margin: 2vh;
}

.distance-line{
    height: 0.3vh;
    width: 200px;
    background-color: rgb(56,171,226);
}

.input-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2vh;
}

.input-div{
    border: 1px solid rgb(213,213,213);
    border-radius: 10px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.input-field{
    border: none;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
    width: 22vw;
}

.input-img{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.error-message-section-log-in{
    background-color: white;
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin-top: -18px;
}
/*CHECKBOX DESIGN*/

.checkbox-section{
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin: 2vh;
    height: 24px;
}

.checkbox-input {
    display: none; 
}

.checkbox-input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px; 
    height: 16px; 
    background-image: url(../assets/img/login_icons/unchecked.png); 
    background-size: cover;
}

.checkbox-input:checked + label:before {
    background-image: url(../assets/img/login_icons/checked.png); 
}

.checkbox-input + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
}

.login-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 5vh;
}


.log-in-button{
    border: none;
    border-radius: 10px;
    background-color: rgb(42,55,71);
    color: white;
    width: 90px;
    height: 48px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}


.log-in-button:hover{
    background-color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.guest-log-in-button{
    border: 1px solid rgb(42,55,71);
    border-radius: 10px;
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}


.guest-log-in-button:hover{
    border: 1px solid rgb(56,171,226);
    color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.index-footer-section{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}


.footer-link{
    margin: 10px;
    text-decoration: none;
    color: rgb(182, 185, 187);
    transition: all 125ms ease-in-out;
}


.footer-link:hover{
    color: rgb(56,171,226);
    transform: scale(1.1);
}

.mobile-sign-up-button-section{
    display: none;
}

/*MAX HEIGHT 1400PX*/

@media(max-width: 1920px) and (max-height:1400px) {
    .input-section{
        margin-top: 5vh;
    }
    .index-footer-section{
        padding-top: 25vh;
    }
    .login-button-section{
        margin-top: 2vh;
    }
}

@media(max-width: 1300px) and (max-height:1400px) {
    .log-in-box{
        width: 60vw;
    }
    .input-field{
        width: 50vw;
    }
}

@media(max-width: 900px) and (max-height:1400px) {
    .top-section-right{
        display: none;
    }
    .log-in-box{
        width: 70vw;
        height: 40vh;
    }
    .input-field{
        width: 50vw;
    }
    .login-button-section{
        margin-top: 0;
    }
    .mobile-sign-up-button-section{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
        font-size: 25px;
    }
    .index-footer-section{
        padding-top: 15vh;
    }
}

@media(max-width: 600px) and (max-height:1400px) {
    .join-logo-log-in{
        height: 8vh;
    }
    .index-main-section{
        padding-top: 2vh;
    }
    .log-in-box{
        width: 80vw;
    }
    .input-field{
        width: 60vw;
    }
    .index-footer-section{
        padding-top: 20vh;
    }
}

@media(max-width: 450px) and (max-height:1400px) {
    .log-in-box{
        width: 90vw;
    }
    .input-field{
        width: 65vw;
    }
}

/*MAX HEIGHT 1250PX*/

@media(max-width: 1920px) and (max-height:1250px) {
    .index-footer-section{
        padding-top: 20vh;
    }
}

@media(max-width: 900px) and (max-height:1250px) {
    .index-footer-section{
        padding-top: 13vh;
    }
}

@media(max-width: 600px) and (max-height:1250px) {
    .index-footer-section{
        padding-top: 18vh;
    }
}

/*MAX HEIGHT 1230PX*/

@media(max-width: 900px) and (max-height:1230px) {
    .log-in-box{
        height: 45vh;
    }
    .index-footer-section{
        padding-top: 10vh;
    }
}

@media(max-width: 600px) and (max-height:1230px) {
    .index-footer-section{
        padding-top: 15vh;
    }
}
/*MAX HEIGHT 1150PX*/

@media(max-width: 720px) and (max-height:1150px) {
    .index-footer-section{
        padding-top: 8vh;
    }
}

/*MAX HEIGHT 1100PX*/

@media(max-width: 900px) and (max-height:1100px) {
    .index-footer-section{
        padding-top: 6vh;
    }
}

@media(max-width: 600px) and (max-height:1100px) {
    .index-footer-section{
        padding-top: 14vh;
    }
}

/*MAX HEIGHT 1000PX*/

@media(max-width: 1920px) and (max-height:1000px) {
    .log-in-box{
        height: 50vh;
    }
    .index-footer-section{
        padding-top: 12vh;
    }
}

@media(max-width: 900px) and (max-height:1000px) {
    .index-main-section{
        padding-top: 4vh;
    }
    .login-button-section{
        margin-top: 3vh;
    }
    .index-footer-section{
        padding-top: 6vh;
    }
}

/*MAX HEIGHT 910PX*/

@media(max-width: 900px) and (max-height:910px) {
    .index-footer-section{
        padding-top: 4vh;
    }
}

/*MAX HEIGHT 850PX*/

@media(max-width: 1920px) and (max-height:850px) {
    .error-message-section-log-in{
        margin-top: -5px;
    }
    .login-button-section{
        margin-top: 1vh;
    }
}
@media(max-width: 900px) and (max-height:850px) {
    .index-footer-section{
        padding-top: 2vh;
    }
}

/*MAX HEIGHT 800PX*/

@media(max-width: 1920px) and (max-height:850px) {
    .login-button-section{
        margin-top: 0vh;
    }
}

/*MAX HEIGHT 770PX*/

@media(max-width: 1920px) and (max-height:770px) {
    .index-main-section{
        padding-top: 5vh;
    }
    .log-in-box{
        height: 55vh;
    }
    .login-button-section{
        margin-top: 1vh;
    }
    .index-footer-section{
        padding-top: 8vh;
    }
}

@media(max-width: 900px) and (max-height:770px) {
    .index-main-section{
        padding-top: 0vh;
    }
    .mobile-sign-up-button-section{
        padding-top: 2vh;
    }
    .index-footer-section{
        padding-top: 5vh;
    }
}
/*MAX HEIGHT 670PX*/

@media(max-width: 380px) and (max-height:670px) {
    .index-footer-section{
        padding-top: 4vh;
    }
}

/*MAX HEIGHT 660PX*/

@media(max-width: 1920px) and (max-height:660px) {
    .index-top-section{
        padding-bottom: 0;
    }
    .headline{
        font-size: 50px;
    }
    .distance-line{
        width: 100px;
    }
    .input-section{
        margin-top: 2vh;
    }
    .input-div{
        height: 6vh;
    }
    .login-button-section{
        margin-top: 0;
    }
    .index-footer-section{
        padding-top: 5vh;
    }
}

@media(max-width: 900px) and (max-height:660px) {
    .index-top-section{
        margin-top: 1vh;
        margin-left: 5vw;
    }
    .join-logo-log-in{
        height: 14vh;
    }
    .index-footer-section{
        padding-top: 7vh;
    }
}

/*MAX HEIGHT 640PX*/

@media(max-width: 360px) and (max-height:640px) {
    .log-in-box{
        height: 57vh;
    }
    .index-footer-section{
        padding-top: 2vh;
    }
}
