body {
    margin: 0;
    font-family: 'Inter';
    /* box-sizing: border-box; */
    font-size: 20px;


    height: 100vh;


}

.section_addTask {
    margin-left: calc(8% + 232px);
    margin-right: 9.5%;
    /* height: calc(100vh - 96px); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* max-width: 976.25px; */
    /* margin-top: 110px;
    font-size: 20px;
    max-width: 100vw; */
    /* max-height: calc(100% - 96px); */
    /* height: 100%; */
}


h1 {
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;

}

.d-flex {
    display: flex;
}

.mainContent {

    justify-content: space-between;

}

.leftContent,
.rightContent {
    width: 45%;
}

.seperator {
    width: 1px;
    background-color: #D1D1D1;
}

.prioContainer {
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.prioCard {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: calc(33% - 16px); */
    /* width: 33%; */
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    gap: 8px;
    flex: 1;
    min-width: 130px;
    max-height: 56px;
    box-sizing: border-box;
}

.prioCard img {
    width: 24px;
}

.footSection {
    /* max-width: 976.25px; */
    justify-content: space-between;
    margin-top: 30px;

}

.newContact {
    margin-top: 6px;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

input {
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: inherit;
}

.required {
    color: #FF8190;
}

textarea {
    height: 120px;
    resize: none;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: inherit;
}

select {
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: inherit;
    appearance: none;
    background-image: url(/assets/img/addTask_icons/arrow_drop_downaa.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: calc(100% - 16px);
    background-position-y: center;
}

#date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#date {

    background-image: url(/assets/img/addTask_icons/date.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: calc(100% - 16px);
    background-position-y: center;
}

.btnContainer {
    
    height: 56px;
    align-items: center;
    align-items: flex-end;
    gap: 16px;
}

/* .requiredInfo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
} */

.createBtn {
    background-color: #2A3647;
    color: white;
    height: 100%;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.clearBtn {
    border: 1px solid #2A3647;
    color: #2A3647;
    height: 100%;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.createBtn img {
    
    width: 24px;
    height: 24px;

}

.clearBtn img {
    width: 24px;
    height: 24px;
}

#selectArrow {
    position: relative;
    bottom: 35px;
    left: calc(100% - 45px);
}

.assignedContainer {
    position: relative;
}


.contacts {
    background-color: white;
    position: absolute;
    
    top: 40px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding-top: 40px;
    z-index: 10;
    box-sizing: border-box;
    max-height: 280px;
    overflow: auto;
}

.contact {
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px 7px 16px;
    margin-bottom: 4px;
}

.contactAktive {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
}

.contactBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid white;

}

.contactRight {
    /* background-image: url(/assets/img/addTask_icons/check_button.png); */
    width: 24px;
    height: 24px;
    /* background-repeat: no-repeat; */
    /* padding-right: 6px; */
}


@media (max-width: 1100px) {
    .section_addTask {
        height: unset;
    }

    .mainContent {
        flex-wrap: wrap;

    }

    .leftContent,
    .rightContent {
        width: 100%;
    }

    form {
        flex-direction: column;
    }

    .seperator {
        display: none;
    }
    
    .footSection {
        margin-bottom: 30px;
    }

    
}

@media (max-width: 950px) {
    .clearBtn {
        display: none;
    }
}

@media (max-width: 750px) {
    body {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }

    .section_addTask {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    h1 {
        font-size: 48px;
    }

    .footSection {
        margin-bottom: 100px;
    }
}