@media (max-width: 1400px) {
    .boardDiv{
        display: block;
    }

    .boardTab{
        width: 100%;
        padding-top: 26px;
    } 
}

@media (max-width: 1200px) {
    .header_button_area form{
        display: none;
    }
    .response_searchbar{
        display: block;
    }

    .searching_form{
        width: 100%;
    }

    .boardDiv{
        padding-top: 0;
    }
}

@media (max-width: 750px) {
    .section_board{
        padding-left: 16px
    }

    .category{
        font-size: 16px;
    }

    .cardDetails_titel h2 {
        font-size: 36px;
    }

    .cardDetails_description {
        font-size: 16px;
    }

    .assignedToCard{
        font-size: 16px;
    }

    .subtasksCard{
        font-size: 16px;
    }

    .renderSubtasksToCard{
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .responseAddTaskButton{
        display: flex;
    }

    .AddTaskButton{
        display: none;
    }
}

@media (max-width: 400px) {
    .searching_form {
        width: 90%;
    }
}

@media (max-width: 380px) {
    .cardDetails_titel h2{
        font-size: 30px;
    }
}
