body{
    margin: 0;
    font-family: 'Inter';
}

.contact_section{
    padding-left: 200px;
    display: flex;
}

.left_container{
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 32px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 160px) ;
    z-index: 1;
}

#addContactButton{
    padding: 12px 0 12px 0;
    border-radius: 10px;
    height: 56px;
    width: 352px;
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 21px;
    cursor: pointer;
}

#addContactButtonResponse {
    display: none;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #2A3647;
    border-radius: 100%;
    padding: 12px;
    position: fixed;
    bottom: 110px;
    right: 30px;
}

.contact_List{
    padding: 16px;
    width: 352px;
}

.first_Latter{
    padding: 17px 36px 17px 36px;
    font-size: 20px;
}

.name_Seperator{
    border-top: 1px solid #D1D1D1;
}

.name_contant{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 35px;
    height: 78px;
    width: 352px;
    cursor: pointer;
}

.name_contant:hover{
    background-color: #F6F7F8;
    border-radius: 16px;
    color: black;
}

.nameIcon_leftContainer{
    background-color: lightblue;
    border-radius: 100%;
    min-width: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
}

.name_leftContainer{
    font-size: 20px;
}

.email_leftContainer{
    font-size: 16px;
    color: #007CEE;
}


.centersizer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activeName{
    background-color: #2A3647;
    border-radius: 16px;
    color: white;
}

.right_container{
    background-color: #F6F7F8;
    width: 100vw;
}

.contact_card{
    margin: 80px 16px 0 80px;
}

.contact_headline{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact_headline h1{
    font-size: 61px;
    margin: 0;
}

.contact_headline span{
    font-size: 27px;
}

.headline_Seperator{
    margin: 0;
    border: 3px solid #29ABE2;
    height: 59px;
}

.contact_headline span{
    display: flex;
    align-items: center;
}

.contact_overview{
    display: none;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 50px;
}

.display_flex{
    display: flex;
}

.contact_name{
    display: flex;
    align-items: center;
    gap: 54px;
}

.big_circle{
    width: 120px;
    height: 120px;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    border: solid 2px white;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.name_width{
    width: 400px;
}

.name_rightContainer {
    font-size: 47px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
}

.edit_delete{
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.edit_delete a{
    display: flex;
    align-items: center;
}

.contact_information{
    font-size: 20px;
    margin: 32px 0 32px 0;
}

.email_rightContainer{
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
}

.email_rightContainer span{
    font-weight: bold;
}

.email_rightContainer a{
    color: #007CEE;
    text-decoration: none;
}

.phone_rightContainer{
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
}

.phone_rightContainer span{
    font-weight: bold;
}

.phone_rightContainer a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px) {
    .name_width{
        width: auto;
    }

    .contact_headline h1{
        font-size: 50px;
    }

    .big_circle {
        min-width: 120px;
        min-height: 120px;
    }

    #addContactButton {
        width: 300px;
    }

    .contact_List {
        width: 300px;
    }

    .name_contant {
        width: 300px;
        gap: 16px;
    }
}

@media (max-width: 1000px) {
    .contact_headline {
        flex-direction: column;
        align-items: flex-start;
    }

    .headline_Seperator {
        height: auto;
        width: 59px;
    }

    .contact_name{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

@media (max-width: 860px) {
    .contact_card {
        margin: 80px 16px 0 40px;
    }

    .contact_overview {
        margin-left: 40px;
    }
}

@media (max-width: 800px) {
    #addContactButton {
        max-width: 200px;
    }

    .contact_List {
        max-width: 200px;
    }

    .name_contant {
        max-width: 200px;
        gap: 8px;
    }

    .nameIcon_leftContainer {
        margin-left: 3px;
    }

    .name_leftContainer {
        font-size: 16px;
    }

    .email_leftContainer{
        max-width: 200px;
        line-break: anywhere;
    }
}

@media (max-width: 750px) {
    .left_container {
        padding: 0;
    }

    .contact_section{
        padding: 0;
    }

    .left_container{
        width: 100vh;
    }

    .right_container{
        display: none;
    }

    #addContactButton {
        display: none;
    }

    #addContactButtonResponse {
        display: flex;
    }

    .contact_List {
        max-width: 100vh;
        width: 90%;
    }

    .name_contant {
        max-width: 100vh;
        width: 100%;
    }

    .email_leftContainer{
        line-break: normal;
    }

    .nameIcon_leftContainer {
        margin-left: 20px;
    }

    .name_contant {
        gap: 35px;
    }
}

@media (max-width: 370px) {
    .email_leftContainer{
        line-break: anywhere;
    }
}