body{
    margin: 0;
    font-family: 'Inter';
}

.contact_section{
    padding-left: 200px;
    display: flex;
}

.left_container{
    width: 456px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 32px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 160px) ;
    z-index: 1;
}

#addContactButton{
    padding: 12px 0 12px 0;
    border-radius: 10px;
    height: 56px;
    width: 352px;
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 21px;
}

.contact_List{
    padding: 16px;
    width: 352px;
}

.first_Latter{
    padding: 17px 36px 17px 36px;
    font-size: 20px;
}

.name_Seperator{
    border-top: 1px solid #D1D1D1;
}

.name_contant{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 35px;
    height: 78px;
    width: 352px;
}

.name_contant:hover{
    background-color: #F6F7F8;
    border-radius: 16px;
    color: black;
}

.nameIcon_leftContainer{
    background-color: lightblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
}

.name_leftContainer{
    font-size: 20px;
}

.email_leftContainer{
    font-size: 16px;
    color: #007CEE;
}


.centersizer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activeName{
    background-color: #2A3647;
    border-radius: 16px;
    color: white;
}

.right_container{
    background-color: #F6F7F8;
    width: 100vw;
    z-index: -1;
}

.contact_card{
    margin: 80px 80px 0 80px;
}

.contact_headline{
    display: flex;
    text-align: center;
    gap: 30px;
}

.contact_headline h1{
    font-size: 61px;
    margin: 0;
}

.headline_Seperator{
    margin: 0;
    border: 3px solid #29ABE2;
}

.contact_headline span{
    display: flex;
    align-items: center;
}

.contact_overview{
    display: flex;
    flex-direction: column;

}

.big_circle{
    width: 120px;
    height: 120px;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    border: solid 2px white;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.name_rightContainer {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-transform: capitalize;
    max-width: min-content;
}