body{
    background-color: rgb(246,247,248);
    font-family: 'Inter';
    margin: 0;
}
.cursor{
    cursor: pointer;
}
.d-none{
    display: none;
}
.index-top-section{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-size: 22px;
}
.background-element {
    background-color: rgb(246,247,248);
    animation: transparencyEffect 3s forwards; 
}
@keyframes transparencyEffect {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
}
.keyframe-logo{
    height: 121px;
    width: 100px;
    background-image: 'assets/img/logos/JoinLogo.png';
    position: relative;
    animation: mymove 3s forwards;
}
@keyframes mymove {
    0% {top: 40vh; left: 45vw;transform:  scale(2.74);}
    50% {top: 40vh; left: 45vw; transform: scale(2.74);}
    100% {top: 0vh; left: 0vw;transform: scale(1);}
}
.sign-up-button{
    background-color: rgb(42,55,71);
    text-decoration: none;
    color: white;
    height: 49px;
    width: 80px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}
.sign-up-link{
    text-decoration: none;
    color: white;
}
.sign-up-button:hover{
    background-color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.index-main-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 493px;
    width: 652px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.headline{
    margin: 20px;
}
.distance-line{
    height: 3px;
    width: 200px;
    background-color: rgb(56,171,226);
}
.input-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.input-div{
    border: 1px solid rgb(213,213,213);
    border-radius: 10px;
    width: 422px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.input-field{
    border: none;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
    width: 400px;
}
.input-img{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.checkbox-section{
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    margin: 20px;
    height: 24px;
}
.checkbox-input{
    margin-right: 10px;
    margin-left: 35px;
}
.login-button-section{
    display: flex;
    gap: 35px;
}
.log-in-button{
    border: none;
    border-radius: 10px;
    background-color: rgb(42,55,71);
    color: white;
    width: 90px;
    height: 48px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}
.log-in-button:hover{
    background-color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.guest-log-in-button{
    border: 1px solid rgb(42,55,71);
    border-radius: 10px;
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
.guest-log-in-button:hover{
    border: 1px solid rgb(56,171,226);
    color: rgb(56,171,226);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.index-footer-section{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.footer-link{
    margin: 10px;
    text-decoration: none;
    color: rgb(182, 185, 187);
    transition: all 0.3s ease-in-out;
}
.footer-link:hover{
    color: rgb(56,171,226);
    transform: scale(1.1);
}

@media (max-width: 700px) {
.d-none{
    display: contents;
}
.top-section-logo{
    width: 64px;
    height: 78px;
}
.top-section-right{
    display: none;
}
.mobile-sign-up-button-section{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 22px;
    gap: 35px;
}
.index-footer-section{
    margin-top: 80px;
}
.login-button-section{
    display: flex;
    flex-direction: column;
}
.log-in-button{
    width: 180px;
}
.guest-log-in-button{
    width: 180px;
}
.log-in-box{
    width: 396px;
    height: 515px;
}
.input-div{
    width: 364px;
}.login-button-section{
    gap: 21px;
}
}
