/*BACKGROUND TRANSPARENCY EFFECT*/

.background-element{
    background-color: rgb(246,247,248);
    animation: transparencyEffect 2s forwards; 
    z-index: 1;
}

.top-section-right{
    background-color: rgb(246,247,248);
    animation: transparencyEffect 2s forwards; 
    z-index: 1;
}

@keyframes transparencyEffect {
    0% {
      opacity: 0; 
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/*JOIN LOGO ANIMATION*/

.keyframe-logo{
    height: 121px;
    width: 100px;
    position: relative;
    animation: mymove 2s forwards;
    z-index: 999;
}

@keyframes mymove {
    0% {top: 40vh; left: 45vw;transform:  scale(2.74);}
    50% {top: 40vh; left: 45vw; transform: scale(2.74);}
    100% {top: 0vh; left: 0vw;transform: scale(1);}
}

@media (max-width: 850px){
    @keyframes mymove {
        0% {top: 40vh;right: 40vw; left: 40vw;transform:  scale(2.74);}
        50% {top: 40vh;right: 40vw; left: 40vw; transform: scale(2.74);}
        100% {top: 0vh;right: 0vw; left: 0vw;transform: scale(1);}
    }   
}

@media (max-width: 450px){
    @keyframes mymove {
        0% {top: 50vh;right: 30vw; left: 50vw;transform:  scale(2.74);}
        50% {top: 50vh;right: 30vw; left: 50vw; transform: scale(2.74);}
        100% {top: 0vh;right: 0vw; left: 0vw;transform: scale(1);}
    }
}

/*SUCCES SIGN UP*/

.keyframe-sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
    z-index: 999;
    height: 5vh;
}

.succes-sign-up{
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1000;
    display: block;
}

.start-animation{
    animation: signUpSuccesfully 0.4s forwards;
}

@keyframes signUpSuccesfully {
    from {bottom: -40vh;
    opacity: 1;}
    to {bottom: 40vh;
    opacity: 1;}
}