body{
    font-family: inter;
    margin: 0;
}
section {
    margin-left: 300px;
    margin-right: 20px;
    font-size: 10px;
}  
span{
    font-size: 18px;
}
p{
    font-size: 18px;
}
b{
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.get-back-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin-right: 40px;
}
.get-back-arrow:active{
    background-color: rgb(213,213,213);
    border-radius: 30px;
}
.span-join{
    color: rgb(56,171,226);
    cursor: default;
}
.undersection-headline{
    font-size: 25px;
}
.distance{
    margin-top: 20px;
}
.table-container{
    display: flex;
    flex-direction: column;
}
.table-span{
    font-size: 16px;
}
.under-table-section{
    display: flex;
    flex-direction: row;
}