.sign-up-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 630px;
    width: 598px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    gap: 32px;
}
.sign-up-box-top-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.get-back-arrow{
    position: relative;
    right: 120px;
    height: 32px;
    width: 32px;
}
.get-back-arrow:active{
    background-color: rgb(213,213,213);
    border-radius: 20px;
}
.distance-line{
    margin-left: 30px;
}
.sign-up-checkbox-section{
    font-size: 16px;
    color: rgb(182, 185, 187);
}
.sign-up-checkbox-link{
    text-decoration: none;
    color: rgb(56,171,226);
    display: inline-block;
    transition: transform 125ms ease-in-out;
}
.sign-up-checkbox-link:hover{
    text-decoration: underline;
    transform: scale(1.04);
}
.sign-up-footer-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
@media (max-width : 700px){
    .join-logo{
        width: 64px;
        height: 78px;
    }
    .sign-up-box{
        width: 396px;
        height: 595px;
    }
    .get-back-arrow{
        right: 40px;
        margin-top: 20px;
    }
    .headline{
        margin: 0;
        margin-top: 20px;
        font-size: 47px;
    }
    .distance-line{
        width: 88px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .sign-up-footer-section{
        margin-top: 160px;
    }
}