.d-none{
    display: none;
}
.sign-up-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 630px;
    width: 598px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    gap: 32px;
}
.sign-up-box-top-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.get-back-arrow{
    position: relative;
    right: 120px;
    height: 32px;
    width: 32px;
}
.get-back-arrow:hover{
    background-color: rgb(213,213,213);
    border-radius: 20px;
}
.sign-up-box-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check-password-red-border{
    border:1px solid red;
}
.error-message-section{
    background-color: white;
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}
.sign-up-checkbox-section{
    font-size: 16px;
    color: rgb(182, 185, 187);
    margin-top: 40px;
}
.sign-up-checkbox-link{
    text-decoration: none;
    color: rgb(56,171,226);
    display: inline-block;
    transition: transform 125ms ease-in-out;
}
.sign-up-checkbox-link:hover{
    text-decoration: underline;
    transform: scale(1.04);
}
.sign-up-button-section{
    margin-top: 40px;
}
.sign-up-footer-section{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
@media (max-width : 700px){
    .join-logo{
        width: 64px;
        height: 78px;
    }
    .sign-up-box{
        width: 396px;
        height: 595px;
    }
    .get-back-arrow{
        right: 40px;
        margin-top: 20px;
    }
    .headline{
        margin: 0;
        margin-top: 20px;
        font-size: 47px;
    }
    .distance-line{
        width: 88px;
        margin-top: 20px;
    }
    .sign-up-footer-section{
        margin-top: 80px;
    }
    
    @media (max-width: 450px) {
        .sign-up-box{
            width: 350px;
        }
        .input-div{
            width: 320px;
        }
        .join-logo{
            width: 80px;
            height: 100px;
        }
        .sign-up-footer-section{
            margin-top: 60px;
        }
        }
        @media (max-width: 360px) {
            .sign-up-box{
                width: 300px;
            }
            .input-div{
                width: 280px;
            }
            }
        
}