body{
    background-color: #F6F7F8;
    font-family: 'Inter';

}

.summary_headline{
    display: flex;
    margin-left: 328px;
    margin-top: 206px;
    gap: 30px;
    align-items: center;
}

.summary_headline h1{
    font-size: 61px;
    font-weight: 700;
}

.summary_headline img{
    height: 59px;
}

.summary_headline p{
    font-size: 27px;
    font-weight: 400;
}

.summary_content{
    display: flex;
    margin-top: 335px;
    margin-left: 328px;
    width: 560px;
    height: 562px;

}

.section_one{
   
}

.todo_number{
    width: 264px;
    height: 168px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    transition: transform 100ms ease-in-out;
}

.todo_number:hover{
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.1);
}
.todo_number:hover .edit_png {
    background-color: #FFFFFF;
    color: #2A3647; /* Ändere dies auf die gewünschte Hintergrundfarbe */
}

.edit_png{
    background-color: #2A3647;
    display: inline-block;
    width: 69px;
    height: 69px;
    border-radius: 35px;
}

.todo_number img{
    width: 32px;
    height: 32px;
    margin-left: 18.5px;
    margin-top: 18.5px;
}

.todoNumber{
    text-align: center;
    margin-bottom: 50px;
}

.number{
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 0px;
    line-height: 76.8px;
}

.todo{
    font-weight:400;
    font-size: 20px;
    line-height: 24px;
}
    



